@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/**
 * Clearfix
 */
/**
 * Establish a grid-containing element.
 */
/**
 * Align an element inside a containter to the grid.
 */
/**
 * Move an element to a specific column in the grid.
 */
/**
 * Create n-th child rule for grid that has elements spanning multiple rows.
 */
.description {
  position: fixed;
  bottom: 0;
  height: 80px;
  padding: 0;
  margin: 0;
  width: 100%;
  z-index: 9001;
  line-height: 80px;
  background: white;
}
.description p {
  margin: 0;
  padding: 0 0 0 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  letter-spacing: 0.01em;
  font-size: 16px;
  color: black;
  line-height: 80px;
  width: auto;
  display: inline-block;
}
.description .links {
  float: right;
  display: inline-block;
  margin-right: 15px;
}
.description .links a {
  display: inline-block;
  margin: 18px 5px 0 5px;
  border: 2px solid black;
  padding: 0 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  letter-spacing: 0.01em;
  font-size: 16px;
  color: black;
  line-height: 40px;
  height: 40px;
  text-decoration: none;
}
.description a:hover {
  border-color: black;
  background: black;
  color: white;
}

@media screen and (max-width: 650px) {
  .description {
    text-align: center;
  }
  .description p {
    display: none;
  }
  .description .links {
    float: none;
    margin: 0;
  }
}
.demo {
  width: 100%;
  padding: 0 3%;
  box-sizing: border-box;
  overflow: hidden;
  *zoom: 1;
  padding-top: 40px;
  padding-bottom: 100px;
}
.demo #loading {
  display: block;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.01em;
}
.demo #disconnected {
  display: none;
  text-align: center;
}
.demo #disconnected p {
  float: left;
  margin-right: -100%;
  width: 82.83%;
  margin-left: 8.58%;
  float: none;
  clear: both;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.01em;
  line-height: 1.2;
  padding-bottom: 20px;
}
.demo #disconnected #warning {
  display: none;
  padding-bottom: 30px;
}
.demo #disconnected #warning span {
  display: block;
  color: red;
  font-size: 20px;
  font-weight: 700;
}
.demo #disconnected input {
  width: 160px;
  height: 50px;
  background: white;
  border: 1px solid black;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 34px;
  letter-spacing: 0.01em;
  line-height: 50px;
  text-align: center;
}
.demo #disconnected input:focus {
  outline: none;
}
.demo #disconnected a {
  display: inline-block;
  text-align: center;
  margin: 18px 5px 0 5px;
  border: 2px solid black;
  padding: 0 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  letter-spacing: 0.01em;
  font-size: 16px;
  color: black;
  line-height: 40px;
  height: 40px;
  text-decoration: none;
}
.demo #disconnected a:hover {
  border-color: black;
  background: black;
  color: white;
}
.demo #connected {
  display: none;
}
.demo #connected h2 {
  float: left;
  margin-right: -100%;
  width: 82.83%;
  margin-left: 8.58%;
  float: none;
  clear: both;
  text-align: center;
  color: black;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 34px;
  letter-spacing: 0.01em;
  padding-bottom: 30px;
  line-height: 1.2;
}
.demo #connected #time {
  display: block;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.01em;
  line-height: 1.2;
  padding-bottom: 20px;
}
.demo #connected .controls {
  text-align: center;
}
.demo #connected .controls a {
  display: inline-block;
  text-align: center;
  margin: 18px 5px 0 5px;
  border: 2px solid black;
  padding: 0 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  letter-spacing: 0.01em;
  font-size: 16px;
  color: black;
  line-height: 40px;
  height: 40px;
  text-decoration: none;
}
.demo #connected .controls a:hover, .demo #connected .controls a.active {
  border-color: black;
  background: black;
  color: white;
}
