@import "compass/reset";
@import "ui/all";
@import "compass/css3/opacity";
@import "compass/css3/transform";
@import "compass/css3/transition";


.demoContainer {
	margin-top: 30px;
	margin-bottom: 100px;

	@include container();

	h2 {

		padding-top: 30px;
		@include column(8,2);
		float: none;
		clear: both;
		text-align: center;

		font-family: $fontMain;
		font-weight: 700;
		font-size: 34px;
	    letter-spacing: 0.01em;

	    padding-bottom: 30px;
	    line-height: 1.2;

	}

	h3 {
		@include column(6,3);
		float: none;
		clear: both;
		text-align: left;

		font-family: $fontMain;
		font-weight: 500;
		font-size: 16px;
	    letter-spacing: 0.01em;

	    line-height: 1.2;
	}

	p {
		@include column(6,3);
		float: none;
		clear: both;
		text-align: left;

		font-family: $fontMain;
		font-weight: 400;
		font-size: 16px;
	    letter-spacing: 0.01em;

	    line-height: 1.2;

	    padding-bottom: 20px;

	}

	a {
		font-weight: 500;
		color: #0068B7;
		text-decoration: none;
	}

	a:hover {
		text-decoration: underline;
	}

}

@media screen and (max-width: 1024px) {
	.demoContainer {
		h2, h3, p {
			@include column(12);
			margin-left: 0%;
		}	

	}
}