body, canvas {
    overflow: hidden;
}

canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    background: url('bg.jpg');
    cursor: default;
} 

@import url('https://fonts.googleapis.com/css?family=Roboto:400');
$fontMain: 'Roboto', sans-serif;

.description {
    
    position: absolute;
    bottom: 0;
    height: 80px;
    padding: 0;
    margin: 0;
    width: 100%;
    z-index: 9001;
    line-height: 80px;       

    p {
        margin: 0;
        padding: 0 0 0 20px;
        font-family: $fontMain;
        font-weight: 500;
        letter-spacing: 0.01em;
        font-size: 16px;
        color: black;
        line-height: 80px;       
        width: auto;
        display: inline-block;
    }

    a {
        float: right;
        display: inline-block;
        margin: 0;
        margin-right: 20px;
        margin-top: 18px;
        border: 2px solid black;
        padding: 0 20px;

        font-family: $fontMain;
        font-weight: 500;
        letter-spacing: 0.01em;
        font-size: 16px;
        color: black;

        line-height: 40px; 
        height: 40px;
        text-decoration: none;

        
    }

    a:hover {
        border-color: black;
        background: black;
        color: white;
    }


}

@media screen and (max-width: 650px) {
    .description {
        text-align: center;

        p {
            display: none;
        }
        a {
            float: none;
            margin: 0;
        }
    }
}