[program:{{ app }}]

directory = {{ path }}/node
command = nodejs app.js  
autostart = true  
autorestart = true
stderr_logfile = {{ path }}/logs/node_error.log
stdout_logfile = {{ path }}/logs/node_output.log
user = {{ ansible_ssh_user }}