.demo {

	@include container();
	
	padding-top: 40px;
	padding-bottom: 100px;
	#loading {
		display: block;
		text-align: center;

		font-family: $fontMain;
		font-weight: 500;
		font-size: 20px;
	    letter-spacing: 0.01em;
	}

	#disconnected {
		display:none;
		text-align: center;

		p {
			@include column(10,1);
			float: none;
			clear: both;
			text-align: center;

			font-family: $fontMain;
			font-weight: 400;
			font-size: 16px;
		    letter-spacing: 0.01em;

		    line-height: 1.2;

		    padding-bottom: 20px;

		}

		#warning {
			display: none;
			padding-bottom: 30px;

			span {
				display: block;
				color: red;
				font-size: 20px;
				font-weight: 700;
			}
		}

		input {

			    width: 160px;
			    height: 50px;
			    background: white;
			    border: 1px solid black;
			    font-family: $fontMain;
				font-weight: 700;
				font-size: 34px;
			    letter-spacing: 0.01em;
			    line-height: 50px;
			    text-align: center;
			    text-transform: uppercase;
		}

		input:focus {
		    outline:none;
		}

		a {
            display: inline-block;
            text-align: center;
            margin: 18px 5px 0 5px;
            border: 2px solid black;
            padding: 0 20px;

            font-family: $fontMain;
            font-weight: 500;
            letter-spacing: 0.01em;
            font-size: 16px;
            color: black;

            line-height: 40px; 
            height: 40px;
            text-decoration: none; 
        }

	    a:hover {
	        border-color: black;
	        background: black;
	        color: white;
	    }

	}


	#connected {

		display:none;

		h2 {
			@include column(10, 1);
			float: none;
			clear: both;
			text-align: center;
			color: black;

			font-family: $fontMain;
			font-weight: 700;
			font-size: 34px;
		    letter-spacing: 0.01em;

		    padding-bottom: 30px;
		    line-height: 1.2;

		}

		#time {
			display: block;
			text-align: center;

			font-family: $fontMain;
			font-weight: 400;
			font-size: 16px;
		    letter-spacing: 0.01em;

		    line-height: 1.2;

		    padding-bottom: 20px;
		}

		.controls {
			text-align: center;

			a {
	            display: inline-block;
	            text-align: center;
	            margin: 18px 5px 0 5px;
	            border: 2px solid black;
	            padding: 0 20px;

	            font-family: $fontMain;
	            font-weight: 500;
	            letter-spacing: 0.01em;
	            font-size: 16px;
	            color: black;

	            line-height: 40px; 
	            height: 40px;
	            text-decoration: none; 
	        }

		    a:hover, a.active {
		        border-color: black;
		        background: black;
		        color: white;
		    }
		}
	}

}