@import url("https://fonts.googleapis.com/css?family=Roboto:400,500");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/**
 * Clearfix
 */
/**
 * Establish a grid-containing element.
 */
/**
 * Align an element inside a containter to the grid.
 */
/**
 * Move an element to a specific column in the grid.
 */
header {
  text-align: center;
  position: relative;
  margin-bottom: 60px;
  margin-top: 40px;
}
header h1 {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 34px;
  letter-spacing: 0.01em;
  padding-bottom: 20px;
  line-height: 1.2;
  color: white;
}
header p {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.01em;
  line-height: 1.2;
  color: white;
}
header .arrow {
  position: absolute;
  top: 50%;
  display: block;
  height: 50px;
  width: 50px;
  margin-top: -25px;
  text-decoration: none;
}
header .arrow:before {
  content: "";
  position: absolute;
  top: 25px;
  height: 2px;
  width: 25px;
  background: white;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -moz-transition: -moz-transform 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: -o-transform 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}
header .arrow:after {
  content: "";
  position: absolute;
  top: 25px;
  height: 2px;
  width: 25px;
  background: white;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -moz-transition: -moz-transform 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: -o-transform 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}
header #prev {
  left: 0px;
}
header #prev:before {
  left: 0;
  -moz-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  -webkit-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
}
header #prev:after {
  left: 0;
  -moz-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  -webkit-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
}
header #next {
  right: 0px;
}
header #next:before {
  right: 0;
  -moz-transform-origin: 100% 0%;
  -ms-transform-origin: 100% 0%;
  -webkit-transform-origin: 100% 0%;
  transform-origin: 100% 0%;
}
header #next:after {
  right: 0;
  -moz-transform-origin: 100% 0%;
  -ms-transform-origin: 100% 0%;
  -webkit-transform-origin: 100% 0%;
  transform-origin: 100% 0%;
}
header #next:hover:before, header #prev:hover:before {
  -moz-transform: rotate(35deg);
  -ms-transform: rotate(35deg);
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
}
header #next:hover:after, header #prev:hover:after {
  -moz-transform: rotate(-35deg);
  -ms-transform: rotate(-35deg);
  -webkit-transform: rotate(-35deg);
  transform: rotate(-35deg);
}

.description {
  position: fixed;
  bottom: 0;
  height: 80px;
  padding: 0;
  margin: 0;
  width: 100%;
  z-index: 9001;
  line-height: 80px;
  background: white;
}
.description p {
  margin: 0;
  padding: 0 0 0 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  letter-spacing: 0.01em;
  font-size: 16px;
  color: black;
  line-height: 80px;
  width: auto;
  display: inline-block;
}
.description .links {
  float: right;
  display: inline-block;
  margin-right: 15px;
}
.description .links a {
  display: inline-block;
  margin: 18px 5px 0 5px;
  border: 2px solid black;
  padding: 0 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  letter-spacing: 0.01em;
  font-size: 16px;
  color: black;
  line-height: 40px;
  height: 40px;
  text-decoration: none;
}
.description a:hover {
  border-color: black;
  background: black;
  color: white;
}

@media screen and (max-width: 650px) {
  .description {
    text-align: center;
  }
  .description p {
    display: none;
  }
  .description .links {
    float: none;
    margin: 0;
  }
}
body {
  background: #2b2b2b;
  padding-bottom: 100px;
}

article {
  height: 80px;
  float: none;
  overflow: hidden;
  *zoom: 1;
  clear: both;
}
article div {
  background: #fff200;
  height: 80px;
  line-height: 80px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  letter-spacing: 0.01em;
  font-size: 16px;
  color: black;
}

body.fixed {
  /* Helper Class: Container */
  /* Helper Class: Columns */
  /* Helper Class: Horizontal Position */
}
body.fixed header {
  width: 960px;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}
body.fixed article {
  width: 960px;
  max-width: 960px;
  margin: 0 auto 20px auto;
}
body.fixed .row {
  width: 960px;
  padding: 0 10px;
  box-sizing: border-box;
  overflow: hidden;
  *zoom: 1;
}
body.fixed .col1 {
  float: left;
  margin-right: -100%;
  width: 61.66667px;
}
body.fixed .col2 {
  float: left;
  margin-right: -100%;
  width: 143.33333px;
}
body.fixed .col3 {
  float: left;
  margin-right: -100%;
  width: 225px;
}
body.fixed .col4 {
  float: left;
  margin-right: -100%;
  width: 306.66667px;
}
body.fixed .col5 {
  float: left;
  margin-right: -100%;
  width: 388.33333px;
}
body.fixed .col6 {
  float: left;
  margin-right: -100%;
  width: 470px;
}
body.fixed .col7 {
  float: left;
  margin-right: -100%;
  width: 551.66667px;
}
body.fixed .col8 {
  float: left;
  margin-right: -100%;
  width: 633.33333px;
}
body.fixed .col9 {
  float: left;
  margin-right: -100%;
  width: 715px;
}
body.fixed .col10 {
  float: left;
  margin-right: -100%;
  width: 796.66667px;
}
body.fixed .col11 {
  float: left;
  margin-right: -100%;
  width: 878.33333px;
}
body.fixed .col12 {
  float: left;
  margin-right: -100%;
  width: 960px;
}
body.fixed .push0 {
  margin-left: 0px;
}
body.fixed .push1 {
  margin-left: 81.66667px;
}
body.fixed .push2 {
  margin-left: 163.33333px;
}
body.fixed .push3 {
  margin-left: 245px;
}
body.fixed .push4 {
  margin-left: 326.66667px;
}
body.fixed .push5 {
  margin-left: 408.33333px;
}
body.fixed .push6 {
  margin-left: 490px;
}
body.fixed .push7 {
  margin-left: 571.66667px;
}
body.fixed .push8 {
  margin-left: 653.33333px;
}
body.fixed .push9 {
  margin-left: 735px;
}
body.fixed .push10 {
  margin-left: 816.66667px;
}
body.fixed .push11 {
  margin-left: 898.33333px;
}
body.fixed #row1 div {
  float: left;
  margin-right: -100%;
  width: 61.66667px;
}
body.fixed #row1 div:nth-child(12n+1) {
  margin-left: 0px;
  margin-bottom: 20px;
  clear: both;
  overflow: hidden;
  *zoom: 1;
}
body.fixed #row1 div:nth-child(12n+2) {
  margin-left: 81.66667px;
  margin-bottom: 20px;
  clear: none;
}
body.fixed #row1 div:nth-child(12n+3) {
  margin-left: 163.33333px;
  margin-bottom: 20px;
  clear: none;
}
body.fixed #row1 div:nth-child(12n+4) {
  margin-left: 245px;
  margin-bottom: 20px;
  clear: none;
}
body.fixed #row1 div:nth-child(12n+5) {
  margin-left: 326.66667px;
  margin-bottom: 20px;
  clear: none;
}
body.fixed #row1 div:nth-child(12n+6) {
  margin-left: 408.33333px;
  margin-bottom: 20px;
  clear: none;
}
body.fixed #row1 div:nth-child(12n+7) {
  margin-left: 490px;
  margin-bottom: 20px;
  clear: none;
}
body.fixed #row1 div:nth-child(12n+8) {
  margin-left: 571.66667px;
  margin-bottom: 20px;
  clear: none;
}
body.fixed #row1 div:nth-child(12n+9) {
  margin-left: 653.33333px;
  margin-bottom: 20px;
  clear: none;
}
body.fixed #row1 div:nth-child(12n+10) {
  margin-left: 735px;
  margin-bottom: 20px;
  clear: none;
}
body.fixed #row1 div:nth-child(12n+11) {
  margin-left: 816.66667px;
  margin-bottom: 20px;
  clear: none;
}
body.fixed #row1 div:nth-child(12n+12) {
  margin-left: 898.33333px;
  margin-bottom: 20px;
  clear: none;
}
body.fixed #row2 div {
  float: left;
  margin-right: -100%;
  width: 143.33333px;
}
body.fixed #row2 div:nth-child(6n+1) {
  margin-left: 0px;
  margin-bottom: 20px;
  clear: both;
  overflow: hidden;
  *zoom: 1;
}
body.fixed #row2 div:nth-child(6n+2) {
  margin-left: 163.33333px;
  margin-bottom: 20px;
  clear: none;
}
body.fixed #row2 div:nth-child(6n+3) {
  margin-left: 326.66667px;
  margin-bottom: 20px;
  clear: none;
}
body.fixed #row2 div:nth-child(6n+4) {
  margin-left: 490px;
  margin-bottom: 20px;
  clear: none;
}
body.fixed #row2 div:nth-child(6n+5) {
  margin-left: 653.33333px;
  margin-bottom: 20px;
  clear: none;
}
body.fixed #row2 div:nth-child(6n+6) {
  margin-left: 816.66667px;
  margin-bottom: 20px;
  clear: none;
}
body.fixed #row3 div {
  float: left;
  margin-right: -100%;
  width: 225px;
}
body.fixed #row3 div:nth-child(4n+1) {
  margin-left: 0px;
  margin-bottom: 20px;
  clear: both;
  overflow: hidden;
  *zoom: 1;
}
body.fixed #row3 div:nth-child(4n+2) {
  margin-left: 245px;
  margin-bottom: 20px;
  clear: none;
}
body.fixed #row3 div:nth-child(4n+3) {
  margin-left: 490px;
  margin-bottom: 20px;
  clear: none;
}
body.fixed #row3 div:nth-child(4n+4) {
  margin-left: 735px;
  margin-bottom: 20px;
  clear: none;
}
body.fixed #row4 div {
  float: left;
  margin-right: -100%;
  width: 306.66667px;
}
body.fixed #row4 div:nth-child(3n+1) {
  margin-left: 0px;
  margin-bottom: 20px;
  clear: both;
  overflow: hidden;
  *zoom: 1;
}
body.fixed #row4 div:nth-child(3n+2) {
  margin-left: 326.66667px;
  margin-bottom: 20px;
  clear: none;
}
body.fixed #row4 div:nth-child(3n+3) {
  margin-left: 653.33333px;
  margin-bottom: 20px;
  clear: none;
}

@media screen and (max-width: 719px) {
  body.fixedresponsive {
    /* Helper Class: Container */
    /* Helper Class: Columns */
    /* Helper Class: Horizontal Position */
  }
  body.fixedresponsive header {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
  }
  body.fixedresponsive article {
    width: 320px;
    max-width: 960px;
    margin: 0 auto 20px auto;
  }
  body.fixedresponsive .row {
    width: 320px;
    padding: 0 10px;
    box-sizing: border-box;
    overflow: hidden;
    *zoom: 1;
  }
  body.fixedresponsive .col1 {
    float: left;
    margin-right: -100%;
    width: 8.33333px;
  }
  body.fixedresponsive .col2 {
    float: left;
    margin-right: -100%;
    width: 36.66667px;
  }
  body.fixedresponsive .col3 {
    float: left;
    margin-right: -100%;
    width: 65px;
  }
  body.fixedresponsive .col4 {
    float: left;
    margin-right: -100%;
    width: 93.33333px;
  }
  body.fixedresponsive .col5 {
    float: left;
    margin-right: -100%;
    width: 121.66667px;
  }
  body.fixedresponsive .col6 {
    float: left;
    margin-right: -100%;
    width: 150px;
  }
  body.fixedresponsive .col7 {
    float: left;
    margin-right: -100%;
    width: 178.33333px;
  }
  body.fixedresponsive .col8 {
    float: left;
    margin-right: -100%;
    width: 206.66667px;
  }
  body.fixedresponsive .col9 {
    float: left;
    margin-right: -100%;
    width: 235px;
  }
  body.fixedresponsive .col10 {
    float: left;
    margin-right: -100%;
    width: 263.33333px;
  }
  body.fixedresponsive .col11 {
    float: left;
    margin-right: -100%;
    width: 291.66667px;
  }
  body.fixedresponsive .col12 {
    float: left;
    margin-right: -100%;
    width: 320px;
  }
  body.fixedresponsive .push0 {
    margin-left: 0px;
  }
  body.fixedresponsive .push1 {
    margin-left: 28.33333px;
  }
  body.fixedresponsive .push2 {
    margin-left: 56.66667px;
  }
  body.fixedresponsive .push3 {
    margin-left: 85px;
  }
  body.fixedresponsive .push4 {
    margin-left: 113.33333px;
  }
  body.fixedresponsive .push5 {
    margin-left: 141.66667px;
  }
  body.fixedresponsive .push6 {
    margin-left: 170px;
  }
  body.fixedresponsive .push7 {
    margin-left: 198.33333px;
  }
  body.fixedresponsive .push8 {
    margin-left: 226.66667px;
  }
  body.fixedresponsive .push9 {
    margin-left: 255px;
  }
  body.fixedresponsive .push10 {
    margin-left: 283.33333px;
  }
  body.fixedresponsive .push11 {
    margin-left: 311.66667px;
  }
}
@media screen and (min-width: 720px) {
  body.fixedresponsive {
    /* Helper Class: Container */
    /* Helper Class: Columns */
    /* Helper Class: Horizontal Position */
  }
  body.fixedresponsive header {
    width: 720px;
    margin-left: auto;
    margin-right: auto;
  }
  body.fixedresponsive article {
    width: 720px;
    max-width: 960px;
    margin: 0 auto 20px auto;
  }
  body.fixedresponsive .row {
    width: 720px;
    padding: 0 10px;
    box-sizing: border-box;
    overflow: hidden;
    *zoom: 1;
  }
  body.fixedresponsive .col1 {
    float: left;
    margin-right: -100%;
    width: 41.66667px;
  }
  body.fixedresponsive .col2 {
    float: left;
    margin-right: -100%;
    width: 103.33333px;
  }
  body.fixedresponsive .col3 {
    float: left;
    margin-right: -100%;
    width: 165px;
  }
  body.fixedresponsive .col4 {
    float: left;
    margin-right: -100%;
    width: 226.66667px;
  }
  body.fixedresponsive .col5 {
    float: left;
    margin-right: -100%;
    width: 288.33333px;
  }
  body.fixedresponsive .col6 {
    float: left;
    margin-right: -100%;
    width: 350px;
  }
  body.fixedresponsive .col7 {
    float: left;
    margin-right: -100%;
    width: 411.66667px;
  }
  body.fixedresponsive .col8 {
    float: left;
    margin-right: -100%;
    width: 473.33333px;
  }
  body.fixedresponsive .col9 {
    float: left;
    margin-right: -100%;
    width: 535px;
  }
  body.fixedresponsive .col10 {
    float: left;
    margin-right: -100%;
    width: 596.66667px;
  }
  body.fixedresponsive .col11 {
    float: left;
    margin-right: -100%;
    width: 658.33333px;
  }
  body.fixedresponsive .col12 {
    float: left;
    margin-right: -100%;
    width: 720px;
  }
  body.fixedresponsive .push0 {
    margin-left: 0px;
  }
  body.fixedresponsive .push1 {
    margin-left: 61.66667px;
  }
  body.fixedresponsive .push2 {
    margin-left: 123.33333px;
  }
  body.fixedresponsive .push3 {
    margin-left: 185px;
  }
  body.fixedresponsive .push4 {
    margin-left: 246.66667px;
  }
  body.fixedresponsive .push5 {
    margin-left: 308.33333px;
  }
  body.fixedresponsive .push6 {
    margin-left: 370px;
  }
  body.fixedresponsive .push7 {
    margin-left: 431.66667px;
  }
  body.fixedresponsive .push8 {
    margin-left: 493.33333px;
  }
  body.fixedresponsive .push9 {
    margin-left: 555px;
  }
  body.fixedresponsive .push10 {
    margin-left: 616.66667px;
  }
  body.fixedresponsive .push11 {
    margin-left: 678.33333px;
  }
}
@media screen and (min-width: 960px) {
  body.fixedresponsive {
    /* Helper Class: Container */
    /* Helper Class: Columns */
    /* Helper Class: Horizontal Position */
  }
  body.fixedresponsive header {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
  }
  body.fixedresponsive article {
    width: 960px;
    max-width: 960px;
    margin: 0 auto 20px auto;
  }
  body.fixedresponsive .row {
    width: 960px;
    padding: 0 10px;
    box-sizing: border-box;
    overflow: hidden;
    *zoom: 1;
  }
  body.fixedresponsive .col1 {
    float: left;
    margin-right: -100%;
    width: 61.66667px;
  }
  body.fixedresponsive .col2 {
    float: left;
    margin-right: -100%;
    width: 143.33333px;
  }
  body.fixedresponsive .col3 {
    float: left;
    margin-right: -100%;
    width: 225px;
  }
  body.fixedresponsive .col4 {
    float: left;
    margin-right: -100%;
    width: 306.66667px;
  }
  body.fixedresponsive .col5 {
    float: left;
    margin-right: -100%;
    width: 388.33333px;
  }
  body.fixedresponsive .col6 {
    float: left;
    margin-right: -100%;
    width: 470px;
  }
  body.fixedresponsive .col7 {
    float: left;
    margin-right: -100%;
    width: 551.66667px;
  }
  body.fixedresponsive .col8 {
    float: left;
    margin-right: -100%;
    width: 633.33333px;
  }
  body.fixedresponsive .col9 {
    float: left;
    margin-right: -100%;
    width: 715px;
  }
  body.fixedresponsive .col10 {
    float: left;
    margin-right: -100%;
    width: 796.66667px;
  }
  body.fixedresponsive .col11 {
    float: left;
    margin-right: -100%;
    width: 878.33333px;
  }
  body.fixedresponsive .col12 {
    float: left;
    margin-right: -100%;
    width: 960px;
  }
  body.fixedresponsive .push0 {
    margin-left: 0px;
  }
  body.fixedresponsive .push1 {
    margin-left: 81.66667px;
  }
  body.fixedresponsive .push2 {
    margin-left: 163.33333px;
  }
  body.fixedresponsive .push3 {
    margin-left: 245px;
  }
  body.fixedresponsive .push4 {
    margin-left: 326.66667px;
  }
  body.fixedresponsive .push5 {
    margin-left: 408.33333px;
  }
  body.fixedresponsive .push6 {
    margin-left: 490px;
  }
  body.fixedresponsive .push7 {
    margin-left: 571.66667px;
  }
  body.fixedresponsive .push8 {
    margin-left: 653.33333px;
  }
  body.fixedresponsive .push9 {
    margin-left: 735px;
  }
  body.fixedresponsive .push10 {
    margin-left: 816.66667px;
  }
  body.fixedresponsive .push11 {
    margin-left: 898.33333px;
  }
}
body.fluid {
  /* Helper Class: Container */
  /* Helper Class: Columns */
  /* Helper Class: Horizontal Position */
}
body.fluid header {
  width: 100%;
  padding: 0 3%;
  box-sizing: border-box;
  overflow: hidden;
  *zoom: 1;
}
body.fluid header #prev {
  left: 3%;
}
body.fluid header #next {
  right: 3%;
}
body.fluid article {
  width: 100%;
  padding: 0 3%;
  box-sizing: border-box;
  overflow: hidden;
  *zoom: 1;
  margin-bottom: 2%;
  height: 80px;
}
body.fluid .row {
  width: 100%;
  padding: 0 3%;
  box-sizing: border-box;
  overflow: hidden;
  *zoom: 1;
}
body.fluid .col1 {
  float: left;
  margin-right: -100%;
  width: 6.5%;
}
body.fluid .col2 {
  float: left;
  margin-right: -100%;
  width: 15%;
}
body.fluid .col3 {
  float: left;
  margin-right: -100%;
  width: 23.5%;
}
body.fluid .col4 {
  float: left;
  margin-right: -100%;
  width: 32%;
}
body.fluid .col5 {
  float: left;
  margin-right: -100%;
  width: 40.5%;
}
body.fluid .col6 {
  float: left;
  margin-right: -100%;
  width: 49%;
}
body.fluid .col7 {
  float: left;
  margin-right: -100%;
  width: 57.5%;
}
body.fluid .col8 {
  float: left;
  margin-right: -100%;
  width: 66%;
}
body.fluid .col9 {
  float: left;
  margin-right: -100%;
  width: 74.5%;
}
body.fluid .col10 {
  float: left;
  margin-right: -100%;
  width: 83%;
}
body.fluid .col11 {
  float: left;
  margin-right: -100%;
  width: 91.5%;
}
body.fluid .col12 {
  float: left;
  margin-right: -100%;
  width: 100%;
}
body.fluid .push0 {
  margin-left: 0%;
}
body.fluid .push1 {
  margin-left: 8.5%;
}
body.fluid .push2 {
  margin-left: 17%;
}
body.fluid .push3 {
  margin-left: 25.5%;
}
body.fluid .push4 {
  margin-left: 34%;
}
body.fluid .push5 {
  margin-left: 42.5%;
}
body.fluid .push6 {
  margin-left: 51%;
}
body.fluid .push7 {
  margin-left: 59.5%;
}
body.fluid .push8 {
  margin-left: 68%;
}
body.fluid .push9 {
  margin-left: 76.5%;
}
body.fluid .push10 {
  margin-left: 85%;
}
body.fluid .push11 {
  margin-left: 93.5%;
}

body.fluidmaxwidth {
  /* Helper Class: Container */
  /* Helper Class: Columns */
  /* Helper Class: Horizontal Position */
}
body.fluidmaxwidth header {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 0 3%;
  box-sizing: border-box;
  overflow: hidden;
  *zoom: 1;
}
body.fluidmaxwidth header #prev {
  left: 3%;
}
body.fluidmaxwidth header #next {
  right: 3%;
}
body.fluidmaxwidth article {
  width: 100%;
  padding: 0 3%;
  box-sizing: border-box;
  overflow: hidden;
  *zoom: 1;
  max-width: 960px;
  margin: 0 auto;
  margin-bottom: 2%;
  height: 80px;
}
body.fluidmaxwidth .row {
  width: 100%;
  padding: 0 3%;
  box-sizing: border-box;
  overflow: hidden;
  *zoom: 1;
}
body.fluidmaxwidth .col1 {
  float: left;
  margin-right: -100%;
  width: 6.5%;
}
body.fluidmaxwidth .col2 {
  float: left;
  margin-right: -100%;
  width: 15%;
}
body.fluidmaxwidth .col3 {
  float: left;
  margin-right: -100%;
  width: 23.5%;
}
body.fluidmaxwidth .col4 {
  float: left;
  margin-right: -100%;
  width: 32%;
}
body.fluidmaxwidth .col5 {
  float: left;
  margin-right: -100%;
  width: 40.5%;
}
body.fluidmaxwidth .col6 {
  float: left;
  margin-right: -100%;
  width: 49%;
}
body.fluidmaxwidth .col7 {
  float: left;
  margin-right: -100%;
  width: 57.5%;
}
body.fluidmaxwidth .col8 {
  float: left;
  margin-right: -100%;
  width: 66%;
}
body.fluidmaxwidth .col9 {
  float: left;
  margin-right: -100%;
  width: 74.5%;
}
body.fluidmaxwidth .col10 {
  float: left;
  margin-right: -100%;
  width: 83%;
}
body.fluidmaxwidth .col11 {
  float: left;
  margin-right: -100%;
  width: 91.5%;
}
body.fluidmaxwidth .col12 {
  float: left;
  margin-right: -100%;
  width: 100%;
}
body.fluidmaxwidth .push0 {
  margin-left: 0%;
}
body.fluidmaxwidth .push1 {
  margin-left: 8.5%;
}
body.fluidmaxwidth .push2 {
  margin-left: 17%;
}
body.fluidmaxwidth .push3 {
  margin-left: 25.5%;
}
body.fluidmaxwidth .push4 {
  margin-left: 34%;
}
body.fluidmaxwidth .push5 {
  margin-left: 42.5%;
}
body.fluidmaxwidth .push6 {
  margin-left: 51%;
}
body.fluidmaxwidth .push7 {
  margin-left: 59.5%;
}
body.fluidmaxwidth .push8 {
  margin-left: 68%;
}
body.fluidmaxwidth .push9 {
  margin-left: 76.5%;
}
body.fluidmaxwidth .push10 {
  margin-left: 85%;
}
body.fluidmaxwidth .push11 {
  margin-left: 93.5%;
}

body.fluidresponsive header {
  width: 100%;
  padding: 0 3%;
  box-sizing: border-box;
  overflow: hidden;
  *zoom: 1;
}
body.fluidresponsive header #prev {
  left: 3%;
}
body.fluidresponsive header #next {
  right: 3%;
}
body.fluidresponsive article {
  width: 100%;
  padding: 0 3%;
  box-sizing: border-box;
  overflow: hidden;
  *zoom: 1;
  overflow: visible;
  margin-bottom: 2%;
  height: 80px;
}
body.fluidresponsive #row1 div, body.fluidresponsive #row2 div, body.fluidresponsive #row3 div, body.fluidresponsive #row4 div, body.fluidresponsive #row5 div, body.fluidresponsive #row6 div {
  float: left;
  margin-right: -100%;
  width: 100%;
}
body.fluidresponsive #row1 div:nth-child(1n+1), body.fluidresponsive #row2 div:nth-child(1n+1), body.fluidresponsive #row3 div:nth-child(1n+1), body.fluidresponsive #row4 div:nth-child(1n+1), body.fluidresponsive #row5 div:nth-child(1n+1), body.fluidresponsive #row6 div:nth-child(1n+1) {
  margin-left: 0%;
  margin-bottom: 2%;
  clear: both;
  overflow: hidden;
  *zoom: 1;
}

@media screen and (min-width: 720px) {
  body.fluidresponsive article {
    width: 100%;
    padding: 0 3%;
    box-sizing: border-box;
    overflow: hidden;
    *zoom: 1;
    overflow: hidden;
    *zoom: 1;
    overflow: visible;
  }
  body.fluidresponsive #row1 div {
    float: left;
    margin-right: -100%;
    width: 15%;
  }
  body.fluidresponsive #row1 div:nth-child(6n+1) {
    margin-left: 0%;
    margin-bottom: 2%;
    clear: both;
    overflow: hidden;
    *zoom: 1;
  }
  body.fluidresponsive #row1 div:nth-child(6n+2) {
    margin-left: 17%;
    margin-bottom: 2%;
    clear: none;
  }
  body.fluidresponsive #row1 div:nth-child(6n+3) {
    margin-left: 34%;
    margin-bottom: 2%;
    clear: none;
  }
  body.fluidresponsive #row1 div:nth-child(6n+4) {
    margin-left: 51%;
    margin-bottom: 2%;
    clear: none;
  }
  body.fluidresponsive #row1 div:nth-child(6n+5) {
    margin-left: 68%;
    margin-bottom: 2%;
    clear: none;
  }
  body.fluidresponsive #row1 div:nth-child(6n+6) {
    margin-left: 85%;
    margin-bottom: 2%;
    clear: none;
  }
  body.fluidresponsive #row2 div {
    float: left;
    margin-right: -100%;
    width: 15%;
  }
  body.fluidresponsive #row2 div:nth-child(6n+1) {
    margin-left: 0%;
    margin-bottom: 2%;
    clear: both;
    overflow: hidden;
    *zoom: 1;
  }
  body.fluidresponsive #row2 div:nth-child(6n+2) {
    margin-left: 17%;
    margin-bottom: 2%;
    clear: none;
  }
  body.fluidresponsive #row2 div:nth-child(6n+3) {
    margin-left: 34%;
    margin-bottom: 2%;
    clear: none;
  }
  body.fluidresponsive #row2 div:nth-child(6n+4) {
    margin-left: 51%;
    margin-bottom: 2%;
    clear: none;
  }
  body.fluidresponsive #row2 div:nth-child(6n+5) {
    margin-left: 68%;
    margin-bottom: 2%;
    clear: none;
  }
  body.fluidresponsive #row2 div:nth-child(6n+6) {
    margin-left: 85%;
    margin-bottom: 2%;
    clear: none;
  }
  body.fluidresponsive #row3 div {
    float: left;
    margin-right: -100%;
    width: 32%;
  }
  body.fluidresponsive #row3 div:nth-child(3n+1) {
    margin-left: 0%;
    margin-bottom: 2%;
    clear: both;
    overflow: hidden;
    *zoom: 1;
  }
  body.fluidresponsive #row3 div:nth-child(3n+2) {
    margin-left: 34%;
    margin-bottom: 2%;
    clear: none;
  }
  body.fluidresponsive #row3 div:nth-child(3n+3) {
    margin-left: 68%;
    margin-bottom: 2%;
    clear: none;
  }
  body.fluidresponsive #row3 div.last {
    float: left;
    margin-right: -100%;
    width: 100%;
  }
  body.fluidresponsive #row4 div {
    float: left;
    margin-right: -100%;
    width: 32%;
  }
  body.fluidresponsive #row4 div:nth-child(3n+1) {
    margin-left: 0%;
    margin-bottom: 2%;
    clear: both;
    overflow: hidden;
    *zoom: 1;
  }
  body.fluidresponsive #row4 div:nth-child(3n+2) {
    margin-left: 34%;
    margin-bottom: 2%;
    clear: none;
  }
  body.fluidresponsive #row4 div:nth-child(3n+3) {
    margin-left: 68%;
    margin-bottom: 2%;
    clear: none;
  }
  body.fluidresponsive #row5 div {
    float: left;
    margin-right: -100%;
    width: 49%;
  }
  body.fluidresponsive #row5 div:nth-child(2n+1) {
    margin-left: 0%;
    margin-bottom: 2%;
    clear: both;
    overflow: hidden;
    *zoom: 1;
  }
  body.fluidresponsive #row5 div:nth-child(2n+2) {
    margin-left: 51%;
    margin-bottom: 2%;
    clear: none;
  }
  body.fluidresponsive #row6 div {
    float: left;
    margin-right: -100%;
    width: 100%;
  }
}
@media all and (min-width: 1024px) {
  body.fluidresponsive article {
    width: 100%;
    padding: 0 3%;
    box-sizing: border-box;
    overflow: hidden;
    *zoom: 1;
    overflow: hidden;
    *zoom: 1;
    overflow: visible;
  }
  body.fluidresponsive #row1 div {
    float: left;
    margin-right: -100%;
    width: 6.5%;
  }
  body.fluidresponsive #row1 div:nth-child(12n+1) {
    margin-left: 0%;
    margin-bottom: 2%;
    clear: both;
    overflow: hidden;
    *zoom: 1;
  }
  body.fluidresponsive #row1 div:nth-child(12n+2) {
    margin-left: 8.5%;
    margin-bottom: 2%;
    clear: none;
  }
  body.fluidresponsive #row1 div:nth-child(12n+3) {
    margin-left: 17%;
    margin-bottom: 2%;
    clear: none;
  }
  body.fluidresponsive #row1 div:nth-child(12n+4) {
    margin-left: 25.5%;
    margin-bottom: 2%;
    clear: none;
  }
  body.fluidresponsive #row1 div:nth-child(12n+5) {
    margin-left: 34%;
    margin-bottom: 2%;
    clear: none;
  }
  body.fluidresponsive #row1 div:nth-child(12n+6) {
    margin-left: 42.5%;
    margin-bottom: 2%;
    clear: none;
  }
  body.fluidresponsive #row1 div:nth-child(12n+7) {
    margin-left: 51%;
    margin-bottom: 2%;
    clear: none;
  }
  body.fluidresponsive #row1 div:nth-child(12n+8) {
    margin-left: 59.5%;
    margin-bottom: 2%;
    clear: none;
  }
  body.fluidresponsive #row1 div:nth-child(12n+9) {
    margin-left: 68%;
    margin-bottom: 2%;
    clear: none;
  }
  body.fluidresponsive #row1 div:nth-child(12n+10) {
    margin-left: 76.5%;
    margin-bottom: 2%;
    clear: none;
  }
  body.fluidresponsive #row1 div:nth-child(12n+11) {
    margin-left: 85%;
    margin-bottom: 2%;
    clear: none;
  }
  body.fluidresponsive #row1 div:nth-child(12n+12) {
    margin-left: 93.5%;
    margin-bottom: 2%;
    clear: none;
  }
  body.fluidresponsive #row2 div {
    float: left;
    margin-right: -100%;
    width: 15%;
  }
  body.fluidresponsive #row2 div:nth-child(6n+1) {
    margin-left: 0%;
    margin-bottom: 2%;
    clear: both;
    overflow: hidden;
    *zoom: 1;
  }
  body.fluidresponsive #row2 div:nth-child(6n+2) {
    margin-left: 17%;
    margin-bottom: 2%;
    clear: none;
  }
  body.fluidresponsive #row2 div:nth-child(6n+3) {
    margin-left: 34%;
    margin-bottom: 2%;
    clear: none;
  }
  body.fluidresponsive #row2 div:nth-child(6n+4) {
    margin-left: 51%;
    margin-bottom: 2%;
    clear: none;
  }
  body.fluidresponsive #row2 div:nth-child(6n+5) {
    margin-left: 68%;
    margin-bottom: 2%;
    clear: none;
  }
  body.fluidresponsive #row2 div:nth-child(6n+6) {
    margin-left: 85%;
    margin-bottom: 2%;
    clear: none;
  }
  body.fluidresponsive #row3 div {
    float: left;
    margin-right: -100%;
    width: 23.5%;
  }
  body.fluidresponsive #row3 div.last {
    float: left;
    margin-right: -100%;
    width: 23.5%;
  }
  body.fluidresponsive #row3 div:nth-child(4n+1) {
    margin-left: 0%;
    margin-bottom: 2%;
    clear: both;
    overflow: hidden;
    *zoom: 1;
  }
  body.fluidresponsive #row3 div:nth-child(4n+2) {
    margin-left: 25.5%;
    margin-bottom: 2%;
    clear: none;
  }
  body.fluidresponsive #row3 div:nth-child(4n+3) {
    margin-left: 51%;
    margin-bottom: 2%;
    clear: none;
  }
  body.fluidresponsive #row3 div:nth-child(4n+4) {
    margin-left: 76.5%;
    margin-bottom: 2%;
    clear: none;
  }
  body.fluidresponsive #row4 div {
    float: left;
    margin-right: -100%;
    width: 32%;
  }
  body.fluidresponsive #row4 div:nth-child(3n+1) {
    margin-left: 0%;
    margin-bottom: 2%;
    clear: both;
    overflow: hidden;
    *zoom: 1;
  }
  body.fluidresponsive #row4 div:nth-child(3n+2) {
    margin-left: 34%;
    margin-bottom: 2%;
    clear: none;
  }
  body.fluidresponsive #row4 div:nth-child(3n+3) {
    margin-left: 68%;
    margin-bottom: 2%;
    clear: none;
  }
  body.fluidresponsive #row5 div {
    float: left;
    margin-right: -100%;
    width: 49%;
  }
  body.fluidresponsive #row5 div:nth-child(2n+1) {
    margin-left: 0%;
    margin-bottom: 2%;
    clear: both;
    overflow: hidden;
    *zoom: 1;
  }
  body.fluidresponsive #row5 div:nth-child(2n+2) {
    margin-left: 51%;
    margin-bottom: 2%;
    clear: none;
  }
  body.fluidresponsive #row6 div {
    float: left;
    margin-right: -100%;
    width: 100%;
  }
}
body.multiple {
  /* Helper Class: Container */
  /* Helper Class: Columns */
  /* Helper Class: Horizontal Position */
}
body.multiple .grid1 {
  width: 320px;
  padding: 0 auto;
  box-sizing: border-box;
  overflow: hidden;
  *zoom: 1;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
body.multiple header {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
body.multiple header #prev {
  left: 3%;
}
body.multiple header #next {
  right: 3%;
}
body.multiple .row {
  width: 320px;
  padding: 0 auto;
  box-sizing: border-box;
  overflow: hidden;
  *zoom: 1;
}
body.multiple .col1 {
  float: left;
  margin-right: -100%;
  width: 17.5px;
}
body.multiple .col2 {
  float: left;
  margin-right: -100%;
  width: 45px;
}
body.multiple .col3 {
  float: left;
  margin-right: -100%;
  width: 72.5px;
}
body.multiple .col4 {
  float: left;
  margin-right: -100%;
  width: 100px;
}
body.multiple .col5 {
  float: left;
  margin-right: -100%;
  width: 127.5px;
}
body.multiple .col6 {
  float: left;
  margin-right: -100%;
  width: 155px;
}
body.multiple .col7 {
  float: left;
  margin-right: -100%;
  width: 182.5px;
}
body.multiple .col8 {
  float: left;
  margin-right: -100%;
  width: 210px;
}
body.multiple .col9 {
  float: left;
  margin-right: -100%;
  width: 237.5px;
}
body.multiple .col10 {
  float: left;
  margin-right: -100%;
  width: 265px;
}
body.multiple .col11 {
  float: left;
  margin-right: -100%;
  width: 292.5px;
}
body.multiple .col12 {
  float: left;
  margin-right: -100%;
  width: 320px;
}
body.multiple .push0 {
  margin-left: 0px;
}
body.multiple .push1 {
  margin-left: 27.5px;
}
body.multiple .push2 {
  margin-left: 55px;
}
body.multiple .push3 {
  margin-left: 82.5px;
}
body.multiple .push4 {
  margin-left: 110px;
}
body.multiple .push5 {
  margin-left: 137.5px;
}
body.multiple .push6 {
  margin-left: 165px;
}
body.multiple .push7 {
  margin-left: 192.5px;
}
body.multiple .push8 {
  margin-left: 220px;
}
body.multiple .push9 {
  margin-left: 247.5px;
}
body.multiple .push10 {
  margin-left: 275px;
}
body.multiple .push11 {
  margin-left: 302.5px;
}

@media screen and (min-width: 720px) {
  body.multiple {
    /* Helper Class: Container */
    /* Helper Class: Columns */
    /* Helper Class: Horizontal Position */
  }
  body.multiple .grid1 {
    width: 720px;
    padding: 0 auto;
    box-sizing: border-box;
    overflow: hidden;
    *zoom: 1;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }
  body.multiple .row {
    width: 720px;
    padding: 0 auto;
    box-sizing: border-box;
    overflow: hidden;
    *zoom: 1;
  }
  body.multiple .col1 {
    float: left;
    margin-right: -100%;
    width: 50.83333px;
  }
  body.multiple .col2 {
    float: left;
    margin-right: -100%;
    width: 111.66667px;
  }
  body.multiple .col3 {
    float: left;
    margin-right: -100%;
    width: 172.5px;
  }
  body.multiple .col4 {
    float: left;
    margin-right: -100%;
    width: 233.33333px;
  }
  body.multiple .col5 {
    float: left;
    margin-right: -100%;
    width: 294.16667px;
  }
  body.multiple .col6 {
    float: left;
    margin-right: -100%;
    width: 355px;
  }
  body.multiple .col7 {
    float: left;
    margin-right: -100%;
    width: 415.83333px;
  }
  body.multiple .col8 {
    float: left;
    margin-right: -100%;
    width: 476.66667px;
  }
  body.multiple .col9 {
    float: left;
    margin-right: -100%;
    width: 537.5px;
  }
  body.multiple .col10 {
    float: left;
    margin-right: -100%;
    width: 598.33333px;
  }
  body.multiple .col11 {
    float: left;
    margin-right: -100%;
    width: 659.16667px;
  }
  body.multiple .col12 {
    float: left;
    margin-right: -100%;
    width: 720px;
  }
  body.multiple .push0 {
    margin-left: 0px;
  }
  body.multiple .push1 {
    margin-left: 60.83333px;
  }
  body.multiple .push2 {
    margin-left: 121.66667px;
  }
  body.multiple .push3 {
    margin-left: 182.5px;
  }
  body.multiple .push4 {
    margin-left: 243.33333px;
  }
  body.multiple .push5 {
    margin-left: 304.16667px;
  }
  body.multiple .push6 {
    margin-left: 365px;
  }
  body.multiple .push7 {
    margin-left: 425.83333px;
  }
  body.multiple .push8 {
    margin-left: 486.66667px;
  }
  body.multiple .push9 {
    margin-left: 547.5px;
  }
  body.multiple .push10 {
    margin-left: 608.33333px;
  }
  body.multiple .push11 {
    margin-left: 669.16667px;
  }
}
@media screen and (min-width: 960px) {
  body.multiple {
    /* Helper Class: Container */
    /* Helper Class: Columns */
    /* Helper Class: Horizontal Position */
  }
  body.multiple .grid1 {
    width: 960px;
    padding: 0 auto;
    box-sizing: border-box;
    overflow: hidden;
    *zoom: 1;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }
  body.multiple .row {
    width: 960px;
    padding: 0 auto;
    box-sizing: border-box;
    overflow: hidden;
    *zoom: 1;
  }
  body.multiple .col1 {
    float: left;
    margin-right: -100%;
    width: 70.83333px;
  }
  body.multiple .col2 {
    float: left;
    margin-right: -100%;
    width: 151.66667px;
  }
  body.multiple .col3 {
    float: left;
    margin-right: -100%;
    width: 232.5px;
  }
  body.multiple .col4 {
    float: left;
    margin-right: -100%;
    width: 313.33333px;
  }
  body.multiple .col5 {
    float: left;
    margin-right: -100%;
    width: 394.16667px;
  }
  body.multiple .col6 {
    float: left;
    margin-right: -100%;
    width: 475px;
  }
  body.multiple .col7 {
    float: left;
    margin-right: -100%;
    width: 555.83333px;
  }
  body.multiple .col8 {
    float: left;
    margin-right: -100%;
    width: 636.66667px;
  }
  body.multiple .col9 {
    float: left;
    margin-right: -100%;
    width: 717.5px;
  }
  body.multiple .col10 {
    float: left;
    margin-right: -100%;
    width: 798.33333px;
  }
  body.multiple .col11 {
    float: left;
    margin-right: -100%;
    width: 879.16667px;
  }
  body.multiple .col12 {
    float: left;
    margin-right: -100%;
    width: 960px;
  }
  body.multiple .push0 {
    margin-left: 0px;
  }
  body.multiple .push1 {
    margin-left: 80.83333px;
  }
  body.multiple .push2 {
    margin-left: 161.66667px;
  }
  body.multiple .push3 {
    margin-left: 242.5px;
  }
  body.multiple .push4 {
    margin-left: 323.33333px;
  }
  body.multiple .push5 {
    margin-left: 404.16667px;
  }
  body.multiple .push6 {
    margin-left: 485px;
  }
  body.multiple .push7 {
    margin-left: 565.83333px;
  }
  body.multiple .push8 {
    margin-left: 646.66667px;
  }
  body.multiple .push9 {
    margin-left: 727.5px;
  }
  body.multiple .push10 {
    margin-left: 808.33333px;
  }
  body.multiple .push11 {
    margin-left: 889.16667px;
  }
}
body.multiple .grid2 {
  margin: 0;
  width: 100%;
  padding: 0 3%;
  box-sizing: border-box;
  overflow: hidden;
  *zoom: 1;
  overflow: hidden;
  *zoom: 1;
  /* Helper Class: Container */
  /* Helper Class: Columns */
  /* Helper Class: Horizontal Position */
  max-width: 100%;
  margin-bottom: 10px;
}
body.multiple .grid2 .row {
  width: 100%;
  padding: 0 3%;
  box-sizing: border-box;
  overflow: hidden;
  *zoom: 1;
}
body.multiple .grid2 .col1 {
  float: left;
  margin-right: -100%;
  width: 6.5%;
}
body.multiple .grid2 .col2 {
  float: left;
  margin-right: -100%;
  width: 15%;
}
body.multiple .grid2 .col3 {
  float: left;
  margin-right: -100%;
  width: 23.5%;
}
body.multiple .grid2 .col4 {
  float: left;
  margin-right: -100%;
  width: 32%;
}
body.multiple .grid2 .col5 {
  float: left;
  margin-right: -100%;
  width: 40.5%;
}
body.multiple .grid2 .col6 {
  float: left;
  margin-right: -100%;
  width: 49%;
}
body.multiple .grid2 .col7 {
  float: left;
  margin-right: -100%;
  width: 57.5%;
}
body.multiple .grid2 .col8 {
  float: left;
  margin-right: -100%;
  width: 66%;
}
body.multiple .grid2 .col9 {
  float: left;
  margin-right: -100%;
  width: 74.5%;
}
body.multiple .grid2 .col10 {
  float: left;
  margin-right: -100%;
  width: 83%;
}
body.multiple .grid2 .col11 {
  float: left;
  margin-right: -100%;
  width: 91.5%;
}
body.multiple .grid2 .col12 {
  float: left;
  margin-right: -100%;
  width: 100%;
}
body.multiple .grid2 .push0 {
  margin-left: 0%;
}
body.multiple .grid2 .push1 {
  margin-left: 8.5%;
}
body.multiple .grid2 .push2 {
  margin-left: 17%;
}
body.multiple .grid2 .push3 {
  margin-left: 25.5%;
}
body.multiple .grid2 .push4 {
  margin-left: 34%;
}
body.multiple .grid2 .push5 {
  margin-left: 42.5%;
}
body.multiple .grid2 .push6 {
  margin-left: 51%;
}
body.multiple .grid2 .push7 {
  margin-left: 59.5%;
}
body.multiple .grid2 .push8 {
  margin-left: 68%;
}
body.multiple .grid2 .push9 {
  margin-left: 76.5%;
}
body.multiple .grid2 .push10 {
  margin-left: 85%;
}
body.multiple .grid2 .push11 {
  margin-left: 93.5%;
}

body.nested {
  /* Helper Class: Container */
  /* Helper Class: Columns */
  /* Helper Class: Horizontal Position */
}
body.nested header {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
body.nested header #prev {
  left: 3%;
}
body.nested header #next {
  right: 3%;
}
body.nested article {
  width: 100%;
  padding: 0 3%;
  box-sizing: border-box;
  overflow: hidden;
  *zoom: 1;
  margin-bottom: 20px;
  width: 100%;
  padding: 0 3%;
  box-sizing: border-box;
  overflow: hidden;
  *zoom: 1;
  overflow: hidden;
  *zoom: 1;
  overflow: visible;
}
body.nested article div {
  height: auto;
  min-height: 80px;
}
body.nested .row {
  width: 100%;
  padding: 0 3%;
  box-sizing: border-box;
  overflow: hidden;
  *zoom: 1;
}
body.nested .col1 {
  float: left;
  margin-right: -100%;
  width: 6.5%;
}
body.nested .col2 {
  float: left;
  margin-right: -100%;
  width: 15%;
}
body.nested .col3 {
  float: left;
  margin-right: -100%;
  width: 23.5%;
}
body.nested .col4 {
  float: left;
  margin-right: -100%;
  width: 32%;
}
body.nested .col5 {
  float: left;
  margin-right: -100%;
  width: 40.5%;
}
body.nested .col6 {
  float: left;
  margin-right: -100%;
  width: 49%;
}
body.nested .col7 {
  float: left;
  margin-right: -100%;
  width: 57.5%;
}
body.nested .col8 {
  float: left;
  margin-right: -100%;
  width: 66%;
}
body.nested .col9 {
  float: left;
  margin-right: -100%;
  width: 74.5%;
}
body.nested .col10 {
  float: left;
  margin-right: -100%;
  width: 83%;
}
body.nested .col11 {
  float: left;
  margin-right: -100%;
  width: 91.5%;
}
body.nested .col12 {
  float: left;
  margin-right: -100%;
  width: 100%;
}
body.nested .push0 {
  margin-left: 0%;
}
body.nested .push1 {
  margin-left: 8.5%;
}
body.nested .push2 {
  margin-left: 17%;
}
body.nested .push3 {
  margin-left: 25.5%;
}
body.nested .push4 {
  margin-left: 34%;
}
body.nested .push5 {
  margin-left: 42.5%;
}
body.nested .push6 {
  margin-left: 51%;
}
body.nested .push7 {
  margin-left: 59.5%;
}
body.nested .push8 {
  margin-left: 68%;
}
body.nested .push9 {
  margin-left: 76.5%;
}
body.nested .push10 {
  margin-left: 85%;
}
body.nested .push11 {
  margin-left: 93.5%;
}
body.nested .subgrid1 {
  margin: 0;
  width: 100%;
  padding: 0 1%;
  box-sizing: border-box;
  overflow: hidden;
  *zoom: 1;
  overflow: hidden;
  *zoom: 1;
  max-width: 2000px;
}
body.nested .subgrid1 .subcol {
  background: #ccbb27;
  margin-bottom: 20px;
}
body.nested .subgrid1 .subcol1 {
  float: left;
  margin-right: -100%;
  width: 6.5%;
}
body.nested .subgrid1 .subcol6 {
  float: left;
  margin-right: -100%;
  width: 49%;
}
body.nested .subgrid1 div:nth-child(12n+1) {
  margin-left: 0%;
  margin-bottom: 2%;
  clear: both;
  overflow: hidden;
  *zoom: 1;
}
body.nested .subgrid1 div:nth-child(12n+2) {
  margin-left: 8.5%;
  margin-bottom: 2%;
  clear: none;
}
body.nested .subgrid1 div:nth-child(12n+3) {
  margin-left: 17%;
  margin-bottom: 2%;
  clear: none;
}
body.nested .subgrid1 div:nth-child(12n+4) {
  margin-left: 25.5%;
  margin-bottom: 2%;
  clear: none;
}
body.nested .subgrid1 div:nth-child(12n+5) {
  margin-left: 34%;
  margin-bottom: 2%;
  clear: none;
}
body.nested .subgrid1 div:nth-child(12n+6) {
  margin-left: 42.5%;
  margin-bottom: 2%;
  clear: none;
}
body.nested .subgrid1 div:nth-child(12n+7) {
  margin-left: 51%;
  margin-bottom: 2%;
  clear: none;
}
body.nested .subgrid1 div:nth-child(12n+8) {
  margin-left: 59.5%;
  margin-bottom: 2%;
  clear: none;
}
body.nested .subgrid1 div:nth-child(12n+9) {
  margin-left: 68%;
  margin-bottom: 2%;
  clear: none;
}
body.nested .subgrid1 div:nth-child(12n+10) {
  margin-left: 76.5%;
  margin-bottom: 2%;
  clear: none;
}
body.nested .subgrid1 div:nth-child(12n+11) {
  margin-left: 85%;
  margin-bottom: 2%;
  clear: none;
}
body.nested .subgrid1 div:nth-child(12n+12) {
  margin-left: 93.5%;
  margin-bottom: 2%;
  clear: none;
}
body.nested .subgrid1 .subcol6:nth-child(1) {
  margin-left: 0%;
}
body.nested .subgrid1 .subcol6:nth-child(2) {
  margin-left: 51%;
}
body.nested article .subgrid1:first-child {
  margin-top: 2%;
}
body.nested .subgrid2 {
  background: none !important;
  margin-left: 0% !important;
  width: 100%;
  padding: 0 1%;
  box-sizing: border-box;
  overflow: hidden;
  *zoom: 1;
  overflow: hidden;
  *zoom: 1;
}
body.nested .subgrid2 .subsubcol {
  background: #a2951d;
}
body.nested .subgrid2 .subcol1 {
  float: left;
  margin-right: -100%;
  width: 6.5%;
}
body.nested .subgrid2 .subcol6 {
  float: left;
  margin-right: -100%;
  width: 49%;
}
body.nested .subgrid2 div:nth-child(12n+1) {
  margin-left: 0%;
  margin-bottom: 2%;
  clear: both;
  overflow: hidden;
  *zoom: 1;
}
body.nested .subgrid2 div:nth-child(12n+2) {
  margin-left: 8.5%;
  margin-bottom: 2%;
  clear: none;
}
body.nested .subgrid2 div:nth-child(12n+3) {
  margin-left: 17%;
  margin-bottom: 2%;
  clear: none;
}
body.nested .subgrid2 div:nth-child(12n+4) {
  margin-left: 25.5%;
  margin-bottom: 2%;
  clear: none;
}
body.nested .subgrid2 div:nth-child(12n+5) {
  margin-left: 34%;
  margin-bottom: 2%;
  clear: none;
}
body.nested .subgrid2 div:nth-child(12n+6) {
  margin-left: 42.5%;
  margin-bottom: 2%;
  clear: none;
}
body.nested .subgrid2 div:nth-child(12n+7) {
  margin-left: 51%;
  margin-bottom: 2%;
  clear: none;
}
body.nested .subgrid2 div:nth-child(12n+8) {
  margin-left: 59.5%;
  margin-bottom: 2%;
  clear: none;
}
body.nested .subgrid2 div:nth-child(12n+9) {
  margin-left: 68%;
  margin-bottom: 2%;
  clear: none;
}
body.nested .subgrid2 div:nth-child(12n+10) {
  margin-left: 76.5%;
  margin-bottom: 2%;
  clear: none;
}
body.nested .subgrid2 div:nth-child(12n+11) {
  margin-left: 85%;
  margin-bottom: 2%;
  clear: none;
}
body.nested .subgrid2 div:nth-child(12n+12) {
  margin-left: 93.5%;
  margin-bottom: 2%;
  clear: none;
}
body.nested .subgrid2 .subcol6:nth-child(1) {
  margin-left: 0%;
}
body.nested .subgrid2 .subcol6:nth-child(2) {
  margin-left: 51%;
}
body.nested article .subgrid2:first-child {
  margin-top: 2%;
}
@media screen and (max-width: 960px) {
  body.nested .subgrid2 {
    font-size: 12px !important;
  }
}
@media screen and (max-width: 600px) {
  body.nested .subgrid2 {
    font-size: 0px !important;
  }
  body.nested .subgrid1 {
    font-size: 12px !important;
  }
}
@media screen and (max-width: 400px) {
  body.nested .subgrid1, body.nested .subgrid2 {
    font-size: 0px !important;
  }
}

body.pushpull {
  /* Helper Class: Container */
  /* Helper Class: Columns */
  /* Helper Class: Horizontal Position */
}
body.pushpull header {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 0 3%;
  box-sizing: border-box;
  overflow: hidden;
  *zoom: 1;
}
body.pushpull header #prev {
  left: 3%;
}
body.pushpull header #next {
  right: 3%;
}
body.pushpull article {
  width: 100%;
  padding: 0 3%;
  box-sizing: border-box;
  overflow: hidden;
  *zoom: 1;
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: 2%;
  height: 80px;
}
body.pushpull .row {
  width: 100%;
  padding: 0 3%;
  box-sizing: border-box;
  overflow: hidden;
  *zoom: 1;
}
body.pushpull .col1 {
  float: left;
  margin-right: -100%;
  width: 6.5%;
}
body.pushpull .col2 {
  float: left;
  margin-right: -100%;
  width: 15%;
}
body.pushpull .col3 {
  float: left;
  margin-right: -100%;
  width: 23.5%;
}
body.pushpull .col4 {
  float: left;
  margin-right: -100%;
  width: 32%;
}
body.pushpull .col5 {
  float: left;
  margin-right: -100%;
  width: 40.5%;
}
body.pushpull .col6 {
  float: left;
  margin-right: -100%;
  width: 49%;
}
body.pushpull .col7 {
  float: left;
  margin-right: -100%;
  width: 57.5%;
}
body.pushpull .col8 {
  float: left;
  margin-right: -100%;
  width: 66%;
}
body.pushpull .col9 {
  float: left;
  margin-right: -100%;
  width: 74.5%;
}
body.pushpull .col10 {
  float: left;
  margin-right: -100%;
  width: 83%;
}
body.pushpull .col11 {
  float: left;
  margin-right: -100%;
  width: 91.5%;
}
body.pushpull .col12 {
  float: left;
  margin-right: -100%;
  width: 100%;
}
body.pushpull .push0 {
  margin-left: 0%;
}
body.pushpull .push1 {
  margin-left: 8.5%;
}
body.pushpull .push2 {
  margin-left: 17%;
}
body.pushpull .push3 {
  margin-left: 25.5%;
}
body.pushpull .push4 {
  margin-left: 34%;
}
body.pushpull .push5 {
  margin-left: 42.5%;
}
body.pushpull .push6 {
  margin-left: 51%;
}
body.pushpull .push7 {
  margin-left: 59.5%;
}
body.pushpull .push8 {
  margin-left: 68%;
}
body.pushpull .push9 {
  margin-left: 76.5%;
}
body.pushpull .push10 {
  margin-left: 85%;
}
body.pushpull .push11 {
  margin-left: 93.5%;
}
